{% extends 'blog/base.html' %}

{% block content %}
<h4 class="border-bottom">من أنا</h4>
<p class="mt-4">مرحبًا،
<p>أنا شهد المالكـي، طالبة في السنة الأخيرة من تخصص نظم المعلومات الحاسوبية (CIS) بجامعة الإمام عبد الرحمن بن فيصل. شغفي بالتقنية بدأ منذ سنواتي الأولى في الجامعة، وازداد مع كل مشروع برمجي عملت عليه،</p>
<p>أنشأت هذه المدونة كمشروع تعلّمي باستخدام إطار Django بلغة Python، وسعيت من خلالها إلى تطبيق ما تعلمته بشكل عملي، ومشاركة تجربتي مع زملائي والمهتمين بالتخصص.</p>
<p>أحب بناء المواقع التي تخدم الناس، وأميل بشكل خاص إلى المشاريع التي تدمج بين البرمجة والجانب الإبداعي، سواء من خلال تصميم واجهات المستخدم أو تنظيم تدفق البيانات.
أعمل حاليًا على تطوير مهاراتي في: </p>
<ul>
    <li>تطوير الويب (Back-End وFront-End)</li>
    <li>قواعد البيانات</li>
    <li>واجهات المستخدم (UI/UX)</li>
    <li>التفكير التحليلي وحل المشكلات</li>

</ul>
<p>أؤمن أن التقنية وسيلة للتغيير، وأتطلع إلى التعلّم المستمر والتطور في هذا المجال المتجدد.</p>
<h6>شكرًا لزيارتك مدونتي، ويسعدني تواصلك في أي وقت!</h6>
{% endblock content %}