<ul class="lis-group-flush latest-comments">
    {% for comment in l_comments %}
        <li class="list-group-item latest-comments-item">
            <a class="black-link" href="{% url 'detail' comment.post.id %}">
                {% if comment.body|length > 30 %}
                  {{comment.body|slice:'35'}} ..
                {% else %}
                {{comment.body}}
                {% endif %}
            </a>

        </li>
    {% empty %}
        <li class="list-group-item latest-comments-item"> لايوجد تعليقات</li>

    {% endfor %}
</ul>